#PageNavigation {
    background-color: #D64933;
    text-align: center;
}
#PageNavigation a{
    list-style-type: none;
    display: inline-block;
    text-align: center;
    padding: 10px;
    font-size: large;
}
#PageNavigation a:hover {
    background-color: white;
    color: black;
}

.submit-button {
    background: #2da90a;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    text-shadow: none;
    margin-top: 10px;
}

.submit-button:hover {
    background: #016ABC;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    text-shadow: none;
}

.hidden {
    display: none;
}