#PageNavigation {
    background-color: rgb(193, 105, 105);
    text-align: center;
}
#PageNavigation a{
    list-style-type: none;
    display: inline-block;
    text-align: center;
    padding: 10px;
    font-size: large;
}
#PageNavigation a:hover {
    background-color: white;
    color: black;
}